<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Signin</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>

    <form [formGroup]="ionicForm" (ngSubmit)="signin()" novalidate>
      <ion-item lines="full">
        <ion-input label="Email" type="email" placeholder="email@example.com"
          formControlName="email"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input label="Retype Email" type="email" placeholder="email@example.com"
          formControlName="emailConfirm"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input label="Password" formControlName="password" type="password"
          placeholder="********"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input label="Retype Password" formControlName="passwordConfirm" type="password"
          placeholder="********"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-radio-group formControlName="type" [allowEmptySelection]="false"
          value="users">
          <h3 class="formLabel">Signin as:</h3>
          <ion-radio value="u" style="height: 30px;">User</ion-radio><br />
          <ion-radio value="t" style="height: 30px;">Trainer</ion-radio><br />
        </ion-radio-group>
      </ion-item>
      <ion-item lines="none">
        <ion-button type="submit" size="small">SIGNIN</ion-button>
      </ion-item>

      <ion-item lines="none">
       Have an account yet? &nbsp;<span (click)="goToLogin()" class="link" style="font-size: 17px;"> Login</span>
      </ion-item>
    </form>
  </div>
</ion-content>
