.swiperIntro{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    

}

.swiperIntro div{
    width: 70%;
}
.swiperIntro h1{
    font-size: 3.5vh;
    font-weight: bold;
}
.swiperIntro img{
    width: 50vh;
}