<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button name="customers" tab="home">
      <ion-icon name="people-circle-outline" ></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="documents-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add-subs">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>