<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Subscribers</ion-title>
    </ion-toolbar>
  </ion-header>


    <strong></strong>

    <ion-card class="userCard">
      <div>
        <img src="../assets/images/slider/person-circle-outline.svg">
      </div>
      <ion-card-header>
        <ion-card-title>Username</ion-card-title>
      </ion-card-header>
    </ion-card>


  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button name="customers">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="documents-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>

      <!-- <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
          </ion-tab-button>-->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>